*{margin: 0%;
padding:0%;
box-sizing: border-box;
font-family: sans-serif;
scroll-behavior: smooth;
}


.menu{
   display: grid;
    padding: 25px;
    position: fixed;
    align-items: flex-end;
    top: 0;
    right: 0;
    text-decoration: none;
    z-index: 99;
}
.menu:focus{
color: darkred;
}

body{color: black;
   
}



.menu i {
    font-size: 35px;
    padding: 25px;
    text-decoration: none;

    
}
.icons{
    top: -18px;
    left: 20px;
    padding: 0;
    position: fixed;
    z-index: 109;

    
}
.icons i{
    font-size: 35px;
    padding: 30px;
    text-decoration: none;
    
}
h1{
    padding:3px;
    display: grid;
    font-weight: bold;
    justify-content: center;
    

}
.content{
    margin: 90px;
    right: 0;
    width: 50%  ;
    background: rgba( 255, 255, 255, 0.55 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6.0px );
    -webkit-backdrop-filter: blur( 6.0px );
    border-radius: 2px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 10px;
    }
.home-page{
    height: 100vh;
    background-image: url(./my-pics/dave-hoefler-jGhoZPshi4w-unsplash.jpg);
    background-position: center;
    background-size: contain;
    background-size: cover;
    
}

.content-heading {
    padding-bottom: 5px;
    position: relative;
    display: inline-block;
}

.content-heading::after {
    position: absolute;
    bottom: 0;
    left: 0;
    background: blueviolet;
    content: '';
    width: 100%;
    height: 5px;
    transform: skew(10deg, -1deg);
}

.image {
    width: 80%;
}

.image img {
  width: 113%;
  border-radius: 65%;
  height: 100vh;
  
}
.content p{
    padding: 15px;

}
.Navigation{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;    
    box-shadow: 3px 3px 3px rgba(2, 0, 0, 0.932);
}
.Navigation .icons{
    color:white;
}




#about {
    
    display: flex;
    align-items: center;
    padding: 10% 15%;
    flex-direction: column;
    background-color: cornflowerblue;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* height: 100vh; */
    
    
}

  

.about{
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
    color: rgba(29, 25, 25, 0.932);
    font-size: 100px;
    

}
#about h2{
display: flex;
font-size: 50px;
margin: 5px;
margin-bottom: 20px;
font-style: inherit;



}




.about p{
    padding: 10px;
    font-family: sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;}



.hero-content {
  width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}


.personal h3{
    padding: 20px;
    font-size: 25px;
    font-style: oblique;

}
.personal p{
    padding: 2px;
    font: size 50px;
    
    
}
.personal{
    font-family: sans-serif;
    padding: 0%;
}
.personal span{
    color: rgb(90, 5, 22);
}


.contents{
    font-weight: 400;
padding: 10px 0;
font-size: 16px;
color: #080808;
margin: 0;
border-bottom: 1px solid #e8dfec;
}
#timeline-container {
    display: grid;
    padding: 50px 10%;
    grid-template-columns: 1fr 10% 1fr;
    grid-template-rows: repeat(4, 1fr);
    background-color:cornflowerblue ;
    background-attachment: fixed;
    background-size: cover;
  }
  
  .items {
    background: rgba(129, 64, 64, 0.45);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    margin: 55px;
  }
  
  .item-1 {
    grid-column-start: 3;
    grid-row: 1;
    align-items: left;
    align-items: stretch;
    padding: 5%;
    

  }
  .item-2 {
    grid-column-start: 1;
    grid-row-start: 2;
    padding: 5%;
  }
  .item-3 {
    grid-column-start: 3;
    grid-row-start: 3;
    padding: 5%;
  }
  
  .item-4 {
    grid-column-start: 1;
    grid-row-start: 4;
    padding: 5%;
  }
  .line {
    background-color: rgb(12, 10, 12);
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 5;
    width: 0px;
    height: 100%;
    margin: auto;
  }
  .education h3{
    display: flex;
    font-size: 30px;
    padding: 3px;
    font-style: inherit;
    background-color: cornflowerblue; 
    justify-content: center;
    align-items: center;
    text-decoration: 5px underline rgb(71, 5, 5);
  }

   
.icons-2{
  display: flex;
  justify-content: space-evenly;
  font-size: 60px;
  width: 600px;
  padding: 10px 10px 10px 10px;
  margin: 30px auto 0px auto;
  border: 2px solid white;
} 


  .items h2{
      padding: 10px;
  }
  .items h3{
      padding:10px ;
  }
  .service h2{
      padding: 25px;
      display: flex;
      font-size: 30px;
      font-style: inherit;
      justify-content: center;
      align-items: center
  }
  #services{
      background-color: cornflowerblue;
    }

    #services h2 {
      text-align: center;
      font-size: 80px;
    }
    
    .services-container {
    display: flex;
    align-content: flex-start;
    justify-content: space-between;

  }

.service{
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border: 1px solid rgba( 255, 255, 255, 0.18 );
width: 42%;
height: 300px;
padding: 25px;
margin: 8%;
}

    
    .service-styling i{
        font-size: 55px;
        justify-content: center;
        display: flex;
        align-items: center;
        padding: 15px;
    }
    .service-styling-2 :hover{
    
    }
    .service-style{
        font-size: 40px;
        padding: 15px;
        justify-content: center;
        display: flex;
        align-items: center;
        color: rgba(70, 2, 16, 0.918);
    }
    .service-styling-2 i{
        font-size: 55px;
        justify-content: center;
        display: flex;
        align-items: center;
        padding: 15px;

    }
    .service-styling-2 h4{
        font-size: 40px;
        padding: 15px;
        justify-content: center;
        display: flex;
        align-items: center;
        color: rgba(70, 2, 16, 0.918);
    }
    .service-styling p{
        font-size: 25px;
    }
    .service-styling-2 p{
        font-size: 25px;
    }
    .card-container {
        display: flex;
        flex-wrap: wrap;
        background: rgba(255, 255, 255, 0.1);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        padding: 5% 10%;
        width: 80%;
        margin: auto;
      }
      
      .card-container-heading {
        width: 100%;
        text-align: center;
        font-size: 67px;
      }
      
      .card {
        width: 48%;
        margin: 1%;
        min-width: 300px;
        display: flex;
        flex-direction: column;
        background: rgba(255, 255, 255, 0.3);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);
        border-radius: 10px;
        overflow: hidden;
        padding: 1%;
      }
      
      .card-img {
        height: 100%;
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      }
      
      .card-details {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      
      .card-buttons {
        display: flex;
      }
      
      .button {
        background: rgba(255, 255, 255, 0.4);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(5.5px);
        -webkit-backdrop-filter: blur(5.5px);
        border-radius: 10px;
        color: black;
        text-decoration: none;
        padding: 10px 20px;
        transition: all 0.3s linear;
        width: 49%;
        margin-right: 1%;
      }
      
      .button:hover {
        font-size: 1.1em;
        background: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(1.5px);
        -webkit-backdrop-filter: blur(1.5px);
      }
      
      .card-heading,
      .card-subtitle,
      .card-description {
        margin-bottom: 10px;
      }
      #my-projects{
          background-color: cornflowerblue;
          padding: px;

      }
      .card-container {
        display: flex;
        flex-wrap: wrap;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        padding: 5% 10%;
      }
      
      .card-container-heading {
        width: 100%;
        text-align: center;
        text-decoration: 5px underline rgb(71, 5, 5);

      }
      
      .card {
        width: 48%;
        margin: 1%;
        min-width: 300px;
        display: flex;
        flex-direction: column;
        background: rgba(255, 255, 255, 0.3);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);
        border-radius: 10px;
        overflow: hidden;
        padding: 1%;
      }
      
      .card-img {
        height: 100%;
        object-fit: cover;
        width: 100%;
        border-radius: 5px;
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      }
      
      .card-details {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      
      .card-buttons {
        display: flex;
      }
      
      .button {
        background: rgba(255, 255, 255, 0.4);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(5.5px);
        -webkit-backdrop-filter: blur(5.5px);
        border-radius: 10px;
        color: black;
        text-decoration: none;
        padding: 10px 20px;
        transition: all 0.3s linear;
        width: 49%;
        margin-right: 1%;
      }
      
      .button:hover {
        font-size: 1.1em;
        background: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(1.5px);
        -webkit-backdrop-filter: blur(1.5px);
      }
      
      .card-heading,
      .card-subtitle,
      .card-description {
        margin-bottom: 2px;
      }
      .card-container-heading h2{
          padding: 15px;
      }
      .slider {
        background: rgba(130, 46, 140, 0.45);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        display: flex;
      }

      .slider img {
        height: 200px;
        object-fit: contain;
      }
      h2 {
        padding-bottom: 2%;
      }
      h3 {
        padding-bottom: 3%;
      }
      .content-2 {
        align-items: center;
        padding: 2%;
      }
      .pics {
        border-radius: 20px;
        max-width: 300px;
        height: 400px;
      }
      .owl-carousel {
        padding: 5%;
        overflow: hidden;
    }
    #testimonial{
        background-color: cornflowerblue;
    }.skills{
        padding: 39px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #contact-me{
      
      padding:30px 15px;
      width: 500px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
    }
    
    .heading {
      text-transform: uppercase;
    }
    
    .form-group {
      margin-bottom: 10px;
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    
    .form-input {
      border-radius: 59px;
      background: #475e6c;
      box-shadow: inset 11px 11px 23px #3c505c, inset -11px -11px 23px #526c7c;
      padding: 10px;
      border: none;
      outline: none;
      color: white;
    }
    
    .form-input::placeholder {
      color: white;
    }
    
    .form-label {
      display: none;
    }
    
    .button {
      border-radius: 59px;
      background: linear-gradient(145deg, #4c6574, #405561);
      box-shadow: 11px 11px 23px #3c505c, -11px -11px 23px #526c7c;
      border: none;
      outline: none;
      color: white;
      padding: 2% 5%;
      text-transform: uppercase;
    }
    
    .button:hover {
      border-radius: 59px;
      background: linear-gradient(145deg, #405561, #4c6574);
      box-shadow: 11px 11px 23px #3c505c, -11px -11px 23px #526c7c;
    }
    .menu i:hover {
      font-size: 35px;
      background: rgba(197, 21, 21, 0.8);
      backdrop-filter: blur(1.5px);
      -webkit-backdrop-filter: blur(1.5px);
      border-radius:100px ;
      padding: 40px;
    
    }
    .contact{background-color: cornflowerblue;
    }
    footer{
      background-color: black;
      color: white;
    }
    .contact h2{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 55px;

    }
    a {
      color: white;
      transition: all .5s ease;
    }

    i {
      transition: all .5s ease;
    }
    i:hover {
      font-size: 1.1em;
      background: rgba(192, 15, 15, 0.8);
      backdrop-filter: blur(1.5px);
      -webkit-backdrop-filter: blur(1.5px);
      border-radius: 80px;  
      
    }
    .service i{
      font-size: 50px;
      padding: 12px;
      transition: all .5s ease;
      margin-left: 90px;
      

    }
    .service h4{
      font-size: 25px;
      padding: 12px;
      margin-left:  45px; ;
    }
    .form-icon{
      display: flex;
    }
    

    .contact-stuff {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .stay-in-touch h3{
      padding: 15px;
    }
    .stay-in-touch p{
      padding: 15px;
    }
    .stay-in-touch i{
      font-size: 30px;
    }
    .stay-in-touch i.linked{
      font-size: 28px;
      padding: 10px;
      color: rgb(18, 18, 19);
    }
    #testimonial h2{
      display: flex;
font-size: 50px;
font-style: inherit;
align-items: center;
justify-content: center;
padding: 12px;
text-decoration: underline ;
    }
#testimonial h3{
      display: flex;
      align-items: center;
      padding-bottom: 12px;
      text-align: center;
      justify-content: center;
    }
.slider h2{
  text-align: center;
}


@media screen and (max-width:640px) {
  .home-page{
    flex-direction: column;
    padding: 0%;

  }
  .image {
    width: 100%;
  }
  .image img {
    width: 90%;
    margin: auto;
  }
  
}    